<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head" id="html_head">
  <meta charset="ISO-8859-1">
  <title>Leave Application</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

<div th:fragment="menu" id="menu" style="border-radius: 10px;">
	
	<nav class="navbar">
		
		<a th:href="@{/about}">Leave Application</a>
		<a th:href="@{/home}">Home</a>
		<div th:if="${session.usession?.user}">
			<div th:each="role : ${session.usession.user.roleSet}">
				<div th:if="${role.name.contains('manager')}">
					<div class="subnav">
						<button class="subnavbtn">Manager</button>
						<div class="subnav-content">
							<a th:href="@{/manager/view_pending}">Pending Application</a>
							<a th:href="@{/manager/subordinates-history}">Subordinates History</a>
							<a th:href="@{/manager/compensation-pending-process}">Pending Compensation Claim</a>
						</div>
					</div>
				</div>
				
				<div th:if="${role.name.contains('admin')}">
					<div class="subnav">
						<button class="subnavbtn">Admin</i></button>
						<div class="subnav-content">
							<a th:href="@{/admin/role/list}">Manage Roles</a>
							<a th:href="@{/admin/employee/list}">Manage Employees</a>
							<a th:href="@{/admin/user/list}" >Manage Users</a>
						</div>
					</div>
				</div>
				
				<div th:if="${role.name.contains('employee')}">
					<div class="subnav">
						<button class="subnavbtn">Staff</button>
						<div class="subnav-content">
							<a class="dropdown-item" th:href="@{/staff/application/history}">Leave History</a><a class="dropdown-item" th:href="@{/staff/application/apply}">Apply Leave</a>
							<a class="dropdown-item" th:href="@{/staff/compensation-claim}">Claim Compensation</a>
						</div>
					</div>
				</div>
				
				<a class="logout-bar" th:href="@{/logout}">Logout</a>
				
			</div>
		</div>
	</nav>
</div>

<div th:fragment="header" id="header">
		<div th:if="${not #strings.isEmpty(usession)}">
			<span th:text="${'Hello, ' + session.ussession.user.name}"></span>
		</div>
</div>


</body>
</html>