<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head" id="html_head">
  <meta charset="ISO-8859-1">
  <title>Leave Application</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

<div th:fragment="menu" id="menu" style="border-radius: 10px; padding: 5px;">
	
	<nav class="navbar">
		
		<a th:href="@{/about}">Leave Application</a>
		<a th:href="@{/home}">Home</a>
		<div th:if="${session.usession?.user}">
			<div th:each="role : ${session.usession.user.roleSet}">
				<div th:if="${role.name.contains('manager')}">
					<div class="subnav">
						<button class="subnavbtn" onclick="window.location.href='/manager/home';">Manager</button>
						<div class="subnav-content">
							<a th:href="@{/manager/view_pending}">Pending Application</a>
							<a th:href="@{/manager/subordinates-history}">Subordinates History</a>
							<a th:href="@{/manager/compensation-pending-process}">Pending Compensation Claim</a>
						</div>
					</div>
				</div>
				
				<div th:if="${role.name.contains('admin')}">
					<div class="subnav">
						<button class="subnavbtn" onclick="window.location.href='/admin/users';">Admin</i></button>
						<div class="subnav-content">
							<a th:href="@{/admin/users/list}">User</a>
							<a th:href="@{/admin/leavetype/list}">Leave Type</a>
							<a th:href="@{/admin/role/list}">Roles</a>
							<a th:href="@{/admin/applications/list}">Leave Application</a>
							<a th:href="@{/admin/holiday/list}">Holiday</a>
						</div>
					</div>
				</div>
				
				<div th:if="${role.name.contains('employee')}">
					<div class="subnav">
						<button class="subnavbtn" onclick="window.location.href='/staff/home';">Staff</button>
						<div class="subnav-content">
							<a th:href="@{/staff/application/history}">Leave History</a>
							<a th:href="@{/staff/application/apply}">Apply Leave</a>
							<a th:href="@{/staff/compensation-claim}">Claim Compensation</a>
						</div>
					</div>
				</div>
				
			</div>
			<a th:text="${'Hello, ' + session.usession.staff.firstName}"></a>
			<a class="logout-bar" th:href="@{/logout}">Logout</a>
		</div>
	</nav>
</div>


</body>
</html>