<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Admin Home</title>
    <head th:replace="fragments/layout.html :: html_head"/>
</head>
<body>
<div th:replace="fragments/layout.html :: menu"/>

<div class="body-form" style="max-width: 50%">
	  
	<div class="formtitle">
		<h2>Admin Home</h2>
	</div>
	
	<div class="formcontent">
		<span class="button-span">
				<button type="button" th:onclick="|window.location.href='@{/admin/users/list}'|">Users</button>
		</span>
		<span class="button-span">
				<button type="button" th:onclick="|window.location.href='@{/admin/leavetype/list}'|">Leave Type</button>
		</span>
		<span class="button-span">
				<button type="button" th:onclick="|window.location.href='@{/admin/role/list}'|">Roles</button>
		</span>
		<span class="button-span">
				<button type="button" th:onclick="|window.location.href='@{/admin/applications/list}'|">Leave Application</button>
		</span>
	</div>
</body>
</html>