<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
  <head th:replace="fragments/layout.html :: html_head"/>
</head>
<body>
<div th:replace="fragments/layout.html :: menu"/>
<div class="body-form" style="max-width: 90%">
  <div class="formtitle">
    <h2>Leave Application List</h2>
  </div>
  <div class="formcontent">
    <button class="subbutton" th:onclick="|window.location.href='@{/admin/home}'|">Back</button>
  <div th:if="${#lists.isEmpty(applicationList.content)}">There is no application</div>
  <div th:if="${not #lists.isEmpty(applicationList.content)}">
    <table class="formtable4" style="width: 100%;">
      <tr class="listHeading">
        <th><span>Start Date</span></th>
        <th><span>End Date</span></th>
        <th><span>Create Date</span></th>
        <th><span>Leave Type</span></th>
        <th><span>Reasons</span></th>
        <th><span>Dissemination</span></th>
        <th><span>Contact Details</span></th>
        <th><span>Leave Days</span></th>
        <th><span>Comment</span></th>
        <th><span>Response Date</span></th>
        <th><span>Status</span></th>
        <th><span>Operation</span></th>
      </tr>
      <tr th:each="leaveapplication : ${applicationList}" class="listRecord">
        <td th:text="${leaveapplication.start_date}"></td>
        <td th:text="${leaveapplication.end_date}"></td>
        <td th:text="${leaveapplication.create_date}"></td>
        <td th:text="${leaveapplication.leaveType.leaveTypeName}"></td>
        <td th:text="${leaveapplication.reasons}"></td>
        <td th:text="${leaveapplication.workDissemination}"></td>
        <td th:text="${leaveapplication.contactDetails}"></td>
        <td th:text="${leaveapplication.costLeaveDays}"></td>
        <td th:text="${leaveapplication.responseComment}"></td>
        <td th:text="${#dates.format(leaveapplication.responseDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${leaveapplication.application_status}"></td>
        <td>
            <a th:href="@{'/admin/application/delete/' + ${leaveapplication.leaveApplicationId}}">Delete</a>
        </td>
      </tr>
    </table>
    <!--this is for the pagination-->
    <!-- Add these lines at the end of your existing HTML -->
    <span th:if="${applicationList.hasPrevious()}" class="btn btn-default">
        <a th:href="@{'/admin/applications/list?page=' + ${applicationList.previousPageable().pageNumber}}" class="btn btn-default">Previous</a>
    </span>
    <span th:if="${applicationList.hasNext()}" class="btn btn-default">
        <a th:href="@{'/admin/applications/list?page=' + ${applicationList.nextPageable().pageNumber}}" class="btn btn-default">Next</a>
    </span>
  </div>
  </div>
</div>
</body>
</html>