<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Application Form</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <head th:replace="fragments/layout.html :: html_head"/>
</head>
<body>
<div th:replace="fragments/layout.html :: menu"/>

<div class="body-form" style="max-width: 600px">
	<div class="formtitle">
		<h2>Leave Application Form</h2>
	</div>
	
	<div class="formcontent">
		<button class="subbutton" th:onclick="|window.location.href='@{/staff/home}'|">Back</button>
		<form th:action="@{/staff/application/apply}" method="post" >
			<table class="formtable">
				<tr>
					<th class="formheader">
						 <label for="start_date">Start Date</label>
					</th>
					<td class="forminput">
						<input type="date" id="start_date" name="start_date" th:field="${leaveApplication.start_date}" required>
						<span id="start_date_error" style="color: red;"></span>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						<label for="end_date">End Date</label>
					</th>
					<td>
						<input type="date" id="end_date" name="end_date" th:field="${leaveApplication.end_date}" required>
						<span id="end_date_error" style="color: red;"></span>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						<label for="typeSelect">Leave Type</label>
					</th>
					<td>
						<select id="typeSelect" name="chooseType" th:field="${leaveApplication.leaveType.leaveTypeName}">
							<option th:each="t : ${typelist}" th:value="${t.leaveTypeName}" th:text="${t.leaveTypeName}"></option>
						</select>
						<span id="validationResult" style="color: red"></span>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						<label for="reasons">Reasons</label>
					</th>
					<td>
						<textarea id="reasons" name="reasons" th:field="${leaveApplication.reasons}" style="min-height: 10em; max-height: 15em;" required></textarea>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						<label for="workDissemination">Work Dissemination</label>
					</th>
					<td>
						<textarea id="workDissemination" name="workDissemination" th:field="${leaveApplication.workDissemination}" style="min-height: 5em; max-height: 15em;"></textarea>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						<label for="contactDetails">Contact Details</label>
					</th>
					<td>
						<input type="text" id="contactDetails" name="contactDetails" th:field="${leaveApplication.contactDetails}">
					</td>
				</tr>
			</table>
			<button type="submit">Submit</button>
			<button type="reset">Reset</button>
		</form>
	</div>
</div>



<script>
    $(document).ready(function () {
        // 监听输入框变化
        $('#start_date, #end_date, #typeSelect').on('change', function () {
            // 获取输入值
            var startDate = $('#start_date').val();
            var endDate = $('#end_date').val();
            var leaveType = $('#typeSelect').val();

            var currentDate = new Date().toISOString().split('T')[0];

            // 检查start-date是否小于当前时间
            if (startDate < currentDate) {
                $('#start_date_error').text("Start date cannot be less than the current date.");
                disableSubmitButton();
                return;
            } else {
                $('#start_date_error').text(""); // 清空错误消息
            }

            // 检查end-date是否小于start-date
            if (endDate && endDate < startDate) {
                $('#end_date_error').text("End date cannot be less than start date.");
                disableSubmitButton();
                return;
            } else {
                $('#end_date_error').text(""); // 清空错误消息
            }

            // 启用submit按钮
            enableSubmitButton();
            // 发送Ajax请求
            $.get('/staff/application/validate', {
                start_date: startDate,
                end_date: endDate,
                leave_type: leaveType
            }, function (data) {
                // 处理响应，data为服务器返回的JSON数据
                document.getElementById("validationResult").innerHTML = data;
				if(data.includes("*this application will cost you")){
					enableSubmitButton();
				}
				else{
					disableSubmitButton();
				}
            });
        });
        function disableSubmitButton() {
            $('button[type="submit"]').prop('disabled', true);
        }

        function enableSubmitButton() {
            $('button[type="submit"]').prop('disabled', false);
        }
    });


</script>
</body>
</html>
