<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>Overtime Work Application</title>
</head>
<body>
<div th:replace="fragments/layout.html :: menu"/>
<div class="body-form" style="max-width: 50%;">
    <div class="formtitle">
        <h2>Overtime Work Claim</h2>
    </div>
    <div class="formcontent">
		<button class="subbutton" th:onclick="|window.location.href='@{/staff/home}'|">Back</button>
        <form th:action="@{/staff/home}" id="overtimeForm" method="post" th:object="${OTWork}">
            <table class="formtable"> <!-- 添加table标签 -->
                <tr>
                    <th style="width: 30%;">
                        <label for="overworkDate">Overwork Date:</label>
                    </th>
                    <td>
                        <input type="date" id="overworkDate" name="overworkDate" th:field="*{otDate}" required>
                        <div id = "errorDate"></div>
                    </td>
                </tr>
                <tr>
                    <th style="width: 30%;">
                        <label for="overworkTime">Overwork Time:</label>
                    </th>
                    <td>
                        <select id="overworkTime" name="overworkTime" th:field="*{otTime}" required>
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>
                    </td>
                </tr>
                <tr>
					<td>
						 <button type="submit">Claim</button>
					</td>
				</tr>
            </table>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the date input field
        var dateInput = document.getElementById('overworkDate');
        var timeInput = document.getElementById('overworkTime');
        dateInput.addEventListener('change', updateValidation);
        timeInput.addEventListener('change', updateValidation);
        function updateValidation(){
            // Parse the selected date
            var selectedDate = new Date(dateInput.value);
            // Get the current date
            var currentDate = new Date();

            // Check if the selected date is a weekend (Saturday or Sunday)
            var isWeekend = selectedDate.getDay() === 0 || selectedDate.getDay() === 6;

            // Check if the selected date is after the current date
            var isAfterCurrentDate = selectedDate > currentDate;

            var time = document.getElementById('overworkTime').value;

            if (isAfterCurrentDate) {
                document.getElementById('errorDate').innerHTML = 'Please select a date before the current date.';
                document.getElementById('button').disabled = true;
            } else {
                if (!isWeekend && time === 'AM') {
                    document.getElementById('errorDate').innerHTML = 'cannot set the week day OT time as AM';
                    document.getElementById('button').disabled = true;
                }
                else {
                    document.getElementById('errorDate').innerHTML = '';
                    document.getElementById('button').disabled = false;
                }
            }
        }

    });
</script>
</body>
</html>
