<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="fragments/layout.html :: html_head"/>
</head>
<body>
<div th:replace="fragments/layout.html :: menu"/>
<div th:replace="fragments/layout.html :: header"/>
<div th:if="${not #lists.isEmpty(applications)}">

    <table style="border: 1px">
        <tr class="listHeading">
            <th><span>start-date</span></th>
            <th><span>end-date</span></th>
            <th><span>create-date</span></th>
            <th><span>leave-type</span></th>
            <th><span>reasons</span></th>
            <th><span>work dissemination</span></th>
            <th><span>contact details</span></th>
            <th><span>cost leave days</span></th>
            <th><span>manager comment</span></th>
            <th><span>response date</span></th>
            <th><span>status</span></th>
            <th><span>operation</span></th>
        </tr>
        <tr th:each="leaveapplication : ${applications}" class="listRecord">
            <td align="left" th:text="${leaveapplication.start_date}"></td>
            <td align="left" th:text="${leaveapplication.end_date}"></td>
            <td align="left" th:text="${leaveapplication.create_date}"></td>
            <td align="left" th:text="${leaveapplication.leaveType.leaveTypeName}"></td>
            <td align="left" th:text="${leaveapplication.reasons}"></td>
            <td align="left" th:text="${leaveapplication.workDissemination}"></td>
            <td align="left" th:text="${leaveapplication.contactDetails}"></td>
            <td align="left" th:text="${leaveapplication.costLeaveDays}"></td>
            <td align="left" th:text="${leaveapplication.responseComment}"></td>
            <td align="left" th:text="${leaveapplication.responseDate}"></td>
            <td align="left" th:text="${leaveapplication.application_status}"></td>
            <td>
                <span th:if="${leaveapplication.application_status == T(com.team4.leave_application.Model.LeaveApplicationEventEnum).APPLIED or leaveapplication.application_status == T(com.team4.leave_application.Model.LeaveApplicationEventEnum).UPDATED }">
                    <a th:href="@{/staff/application/edit/{id}(id = ${leaveapplication.leaveApplicationId})}" class="btn btn-default"><span>Edit</span></a>
                    <a th:href="@{/staff/application/delete/{id}(id = ${leaveapplication.leaveApplicationId})}" class="btn btn-default"><span>Delete</span></a>
                </span>
                <span th:if="${leaveapplication.application_status == T(com.team4.leave_application.Model.LeaveApplicationEventEnum).APPROVED}">
                    <a th:href="@{/staff/application/cancel/{id}(id = ${leaveapplication.leaveApplicationId})}" class="btn btn-default"><span>Cancel</span></a>
                </span>
                <span th:if="${leaveapplication.application_status == T(com.team4.leave_application.Model.LeaveApplicationEventEnum).REJECTED}">
                    <a th:href="@{/staff/application/apply}" class="btn btn-default"><span>ReApply</span></a>
                </span>

            </td>
        </tr>
    </table>
    <!--this is for the pagination-->
    <!-- Add these lines at the end of your existing HTML -->
    <span th:if="${applications.hasPrevious()}">
        <a th:href="@{'/staff/application/history?page=' + ${applications.previousPageable().pageNumber}}" class="btn btn-default">Previous</a>
    </span>
    <span th:if="${applications.hasNext()}">
        <a th:href="@{'/staff/application/history?page=' + ${applications.nextPageable().pageNumber}}" class="btn btn-default">Next</a>
    </span>

</div>
</body>
</html>