<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>

<body>
  <div th:replace="fragments/layout.html :: menu"/>
  
  <div class="body-form" style="max-width: 80%">
	  
	<div class="formtitle">
		<h2>Edit Holiday</h2>
	</div>
	
	<div class="formcontent">
		<button class="subbutton" th:onclick="|window.location.href='@{/admin/holiday/list}'|">Back</button>
		<form action="#" th:action="@{/admin/holiday/edit/}+${holidayId}" th:object="${holiday}" method="post">
			<input type="hidden" th:field="*{holidayId}"/>
			<table style="width: 100%;">
				<tbody>
					<tr>
						<th class="formheader3"><span th:text="#{fieldLabel.holidayName}"></span></th>
						<td class="forminput">
							<input type="text" th:field="*{name}" />
						</td>
					</tr>
					<tr>
						<th class="formheader3"><span th:text="#{fieldLabel.holidayDate}"></span></td>
						<td class="forminput">
							<input type="date" th:field="*{date}" />
						</td>
					</tr>
					<tr>
						<td><button type="submit" value="Update" class="blcass">Update</button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

</body>

</html>