<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="fragments/layout.html :: html_head"/>
	<script th:inline="javascript">
		window.onload = function(){
			var urlParams = new URLSearchParams(window.location.search);
			if(urlParams.has('updated')){
				alert("Maximum leave has been updated!");
			}
		}
	</script>
</head>

<body>
  <div th:replace="fragments/layout.html :: menu"/>
  <div class="body-form" style="max-width: 600px">
		<div class="formtitle">
			<h2>Leave Type</h2>
		</div>
		<div class="formcontent">
			<button class="subbutton" th:onclick="|window.location.href='@{/admin/leavetype/create}'|">Add Leave Type</button>
			<button class="subbutton" th:onclick="|window.location.href='@{/admin/home}'|">Back</button>
			
			<div th:if="${not #lists.isEmpty(leaveTypeList)}">
				<table class="formtable2">
					<tr class="listHeading">
						<th><span th:text="#{fieldLabel.leaveTypeId}"></span></th>
						<th><span th:text="#{fieldLabel.leaveTypeName}"></span></th>
						<th><span th:text="#{fieldLabel.staffTitle}"></span></th>
						<th><span th:text="#{fieldLabel.maxLeaveDay}"></span></th>
						<th><span th:text="#{caption.edit}"></span></th>
						<th><span th:text="#{caption.delete}"></span></th>
            <th><span th:text="#{caption.update}"></span></th>
					</tr>
					<tr th:each="leaveType : ${leaveTypeList}" class="listRecord">
						<td align="left" th:text="${leaveType.leaveTypeId}">Id</td>
						<td align="left" th:text="${leaveType.leaveTypeName}">Name</td>
						<td align="left" th:text="${leaveType.staffTitle}">Staff Title</td>
						<td align="left" th:text="${leaveType.maxLeaveDay}">Max Leave Day</td>
						<td><a th:href="@{/admin/leavetype/edit/}+${leaveType.leaveTypeId}" class="btn btn-default"><span th:text="#{caption.edit}"></span></a></td>
						<td><a th:href="@{/admin/leavetype/delete/}+${leaveType.leaveTypeId}" class="btn btn-default"><span th:text="#{caption.delete}"></span></a></td>
            <td><a th:href="@{/admin/leavetype/update/}+${leaveType.leaveTypeId}" class="btn btn-default"><span th:text="#{caption.update}"></span></a></td>
					</tr>
				</table>
			</div>
		</div>
  </div>
</body>
</html>