<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Admin Home</title>
    <head th:replace="fragments/layout.html :: html_head"/>
</head>
<body>
<div th:replace="fragments/layout.html :: menu"/>

<div class="body-form" style="max-width: 50%;">
	  
	<div class="formtitle">
		<h2>Manager Home</h2>
	</div>
	
	<div class="formcontent">
		<span class="button-span">
				<button type="button" th:onclick="|window.location.href='@{/manager/view_pending}'|">Pending Application</button>
		</span>
		<span class="button-span">
				<button type="button" th:onclick="|window.location.href='@{/manager/subordinates-history}'|">Subordinates History</button>
		</span>
		<span class="button-span">
				<button type="button" th:onclick="|window.location.href='@{/manager/compensation-pending-process}'|">Pending Claim</button>
		</span>
	</div>
</body>
</html>