<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Pending Applications</title>
</head>
<body>

<h2>Manager Pending Applications</h2>

<div th:each="entry : ${pendingapplist}">

    <h3 th:text="${entry.key.firstName}+ ' ' + (${entry.key.middleName} ?: ' ') + ' ' + ${entry.key.lastName}"></h3>
    <p th:if="${#lists.isEmpty(entry.value)}"><strong>there is no pending application</strong></p>
    <table border="1" th:if="${not #lists.isEmpty(entry.value)}">
        <thead>
        <tr>
            <th>Application ID</th>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Details</th> <!-- Empty header for the "Details" button -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="leaveapplication : ${entry.value}">
            <td th:text="${leaveapplication.leaveApplicationId}"></td>
            <td th:text="${leaveapplication.leaveType.leaveTypeName}"></td>
            <td th:text="${#dates.format(leaveapplication.start_date, 'yyyy-MM-dd')}"></td>
            <td th:text="${#dates.format(leaveapplication.end_date, 'yyyy-MM-dd')}"></td>
            <td>
                <form th:action="@{/manager/application/details/{id}(id = ${leaveapplication.leaveApplicationId})}" method="get">
                    <button type="submit">Details</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
