<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Details</title>
    <head th:replace="fragments/layout.html :: html_head"/>
</head>
<body>
<div th:replace="fragments/layout.html :: menu"/>
<div class="body-form" style="max-width: 80%">
	<div class="formtitle">
		<h2 th:text="'Application Details (ID: ' + ${leaveapplication.leaveApplicationId} + ')'"></h2>
	</div>
	
	<div class="formcontent">
		<button class="subbutton" th:onclick="|window.location.href='@{/manager/home}'|">Back</button>
		<form th:action="@{/manager/application/edit/{id}(id = ${leaveapplication.leaveApplicationId})}" th:object="${leaveapplication}" method="post">
			<table class="formtable">
				<tr>
					<th class="formheader">
						<label>Staff Name</label>
					</th>
					<td>
						<span th:text="${leaveapplication.staff.firstName} + ${leaveapplication.staff.middleName != null ? ' ' + leaveapplication.staff.middleName + ' ' : ' '} + ${leaveapplication.staff.lastName}"></span>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						<label>Start Date</label>
					</th>
					<td>
						<span th:text="*{start_date}"></span>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						<label>End Date</label>
					</th>
					<td>
						<span th:text="*{end_date}"></span>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						 <label>Leave Type</label>
					</th>
					<td>
						<span th:text="*{leaveType.leaveTypeName}"></span>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						<label>Reasons</label>
					</th>
					<td>
						<p th:text="*{reasons}"></p>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						<label>Work Dissemination</label>
					</th>
					<td>
						<p th:text="*{workDissemination}"></p>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						 <label>Contact Details</label>
					</th>
					<td>
						 <span th:text="*{contactDetails}"></span>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						<label for="comment">Comment:</label>
					</th>
					<td>
						<span>
							 <textarea type="text" id="comment" name="comment" th:field="*{responseComment}"></textarea>
						</span>
					</td>
				</tr>
				<tr>
					<th class="formheader">
						 <label>Decision:</label>
					</th>
					<td>
						<input type="radio" id="reject" name="approvalStatus" th:value="REJECT" /><label for="reject">Reject</label>
						<input type="radio" id="approve" name="approvalStatus" th:value="APPROVE" /><label for="approve">Approve</label>
					</td>
				</tr>
				<tr>
					<td>
						<button type="submit">Confirm</button>
					</td>
				</tr>
			</table>

		</form>
	</div>
	
</body>
</html>