<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subordinate Leave Application History</title>
    <head th:replace="fragments/layout.html :: html_head"/>
</head>
<body>
<div th:replace="fragments/layout.html :: menu"/>

<div class="body-form" style="max-width: 90%">
	<div class="formtitle">
		<h2>Subordinate Leave Application History</h2>
	</div>
	
	<div class="formcontent">
		<button class="subbutton" th:onclick="|window.location.href='@{/manager/home}'|">Back</button>
		<p th:if="${subordinatehistory.isEmpty()}" style="color:red;">You have no subordinates who has applied.</p>
		<div th:each="entry : ${subordinatehistory}">
			<h3 th:text="${entry.key.firstName}+ ' ' + (${entry.key.middleName} ?: ' ') + ' ' + ${entry.key.lastName}"></h3>
			<p th:if="${#lists.isEmpty(entry.value)}" style="color:red;">The staff has no application.</p>
			<table class="formtable" th:if="${not #lists.isEmpty(entry.value)}">
				<thead>
					<tr>
						<th>Application ID</th>
						<th>Leave Type</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Create Date</th>
						<th>Reasons</th>
						<th>Work Dissemination</th>
						<th>Contact Details</th>
						<th>Cost Leave Days</th>
						<th>Comment</th>
						<th>Response Date</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="leaveapplication : ${entry.value}">
						<td th:text="${leaveapplication.leaveApplicationId}"></td>
						<td th:text="${leaveapplication.leaveType.leaveTypeName}"></td>
						<td th:text="${#dates.format(leaveapplication.start_date, 'yyyy-MM-dd')}"></td>
						<td th:text="${#dates.format(leaveapplication.end_date, 'yyyy-MM-dd')}"></td>
						<td th:text="${#dates.format(leaveapplication.create_date, 'yyyy-MM-dd')}"></td>
						<td th:text="${leaveapplication.reasons}"></td>
						<td th:text="${leaveapplication.workDissemination}"></td>
						<td th:text="${leaveapplication.contactDetails}"></td>
						<td th:text="${leaveapplication.costLeaveDays}"></td>
						<td th:text="${leaveapplication.responseComment}"></td>
						<td th:text="${#dates.format(leaveapplication.responseDate, 'yyyy-MM-dd')}"></td>
						<td th:text="${leaveapplication.application_status}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</body>
</html>
