<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>

<body>
  <div th:replace="fragments/layout.html :: menu"/>
  
  <div class="body-form" style="max-width: 80%">
	  
	<div class="formtitle">
		<h2>Edit Role</h2>
	</div>
	
	<div class="formcontent">
		<button class="subbutton" th:onclick="|window.location.href='@{/admin/home}'|">Back</button>
		<form action="#" th:action="@{/admin/role/edit/}+${role.roleId}" th:object="${role}" method="post">
			<input type="hidden" th:field="*{roleId}" />
			<table style="width: 100%;">
				<tbody>
					<tr>
						<th class="formheader3"><span th:text="#{fieldLabel.roleName}"></span></th>
						<td class="forminput">
							<input type="text" th:field="*{name}" />
							<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
						</td>
					</tr>
					<tr>
						<th class="formheader3"><span th:text="#{fieldLabel.description}"></span></td>
						<td class="forminput">
							<input type="text" th:field="*{description}" />
							<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
						</td>
					</tr>
					<tr>
						<td><button type="submit" value="Update" class="blcass">Update</button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

</body>

</html>