<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Application Form</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <head th:replace="fragments/layout.html :: html_head"/>
</head>

<body>
	<div th:replace="fragments/layout.html :: menu" />
	<div class="body-form" style="max-width: 600px">
		<div class="formtitle">
			<h2>Role List</h2>
		</div>
		<div class="formcontent">
			<button type="button" th:onclick="|window.location.href='@{/admin/role/create}'|">Add Role</button>
			<a th:href="@{/admin/role/create}">Add Role</a>
			<button type="button" th:onclick="@{/admin/users}">Back</button>
			<a th:href="@{/admin/users}">Back</a>
			<div th:if="${not #lists.isEmpty(roleList)}">
				<table class="formtable">
					<tr class="listheading">
						<th><span th:text="#{fieldLabel.roleId}"></span></th>
						<th><span th:text="#{fieldLabel.roleName}"></span></th>
						<th><span th:text="#{fieldLabel.description}"></span></th>
						<th><span th:text="#{caption.edit}"></span></th>
						<th><span th:text="#{caption.delete}"></span></th>
					</tr>
					<tr th:each="role : ${roleList}" class="listRecord">
						<td align="left" th:text="${role.roleId}">Id</td>
						<td align="left" th:text="${role.name}">Name</td>
						<td align="left" th:text="${role.description}">Description</td>
						<td><a th:href="@{/admin/role/edit/}+${role.roleId}" class="btn btn-default">
							<span th:text="#{caption.edit}"></span></a></td>
						<td><a th:href="@{/admin/role/delete/}+${role.roleId}" class="btn btn-default">
							<span th:text="#{caption.delete}"></span></a></td>
					</tr>
				</table>
			</div>
		</div>
			
	</div>
</body>