<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Add New User</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <head th:replace="fragments/layout.html :: html_head"/>
</head>
<body>
<div class="menu" th:replace="fragments/layout.html :: menu"/>
<div class="body-form" style="max-width: 500px">
	<div class="formtitle">
		<h2>Create User page</h2>
	</div>
	<div class="formcontent">
		<button class="subbutton" th:onclick="|window.location.href='@{/admin/users/list}'|">Back</button>
		<form action="#" th:action="@{'/admin/users/create'}" th:object="${user}" method="post">
			<table class="formtable3">
				<tbody>
					<tr>
						<th><span th:text="#{fieldLabel.username}" class="formlabel"></span></td>
						<td>
							<input type="text" th:field="*{username}" class="forminput" />
							<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
						</td>
					</tr>
					<tr>
						<th><span th:text="#{fieldLabel.password}" class="formlabel"></span></th>
						<td>
							<input type="text" th:field="*{password}" class="forminput" />
							<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="formerror"/>
						</td>
					</tr>
					<tr>
						<th><span th:text="#{fieldLabel.firstName}" class="formlabel"></span></th>
						<td>
							<input type="text" th:field="*{staff.firstName}" class="forminput" />
							<span th:if="${#fields.hasErrors('staff.firstName')}" th:errors="*{staff.firstName}" class="formerror"></span>
						</td>
					</tr>
					<tr>
						<th><span th:text="#{fieldLabel.middleName}" class="formlabel"></span></th>
						<td><input type="text" th:field="*{staff.middleName}" class="forminput" /></td>
					</tr>
					<tr>
						<th><span th:text="#{fieldLabel.lastName}" class="formlabel"></span></th>
						<td>
							<input type="text" th:field="*{staff.lastName}" class="forminput" />
							<span th:if="${#fields.hasErrors('staff.lastName')}" th:errors="*{staff.lastName}" class="formerror"></span>
						</td>
					</tr>
					<tr>
						<th><span th:text="#{fieldLabel.birthday}" class="formlabel"></span></td>
						<td><input type="date" th:field="*{staff.birthday}" class="forminput"></td>
					</tr>
					<tr>
						<th><span th:text="#{fieldLabel.email}" class="formlabel"></span></td>
						<td>
							<input type="text" th:field="*{staff.email}" class="forminput" />
							<span th:if="${#fields.hasErrors('staff.email')}" th:errors="*{staff.email}" class="formerror"></span>
						</td>
					</tr>
					<tr>
						<th><span th:text="#{fieldLabel.gender}" class="formlabel"></span></th>
						<td>
							<select th:field="*{staff.gender}" class="forminput">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
							<span th:if="${#fields.hasErrors('staff.gender')}" th:errors="*{staff.gender}" class="formerror"></span>
						</td>
					</tr>
					<tr>
						<th><span th:text="#{fieldLabel.staffTitle}" class="formlabel"></span></th>
						<td>
							<input type="text" th:field="*{staff.title}" class="forminput" />
							<span th:if="${#fields.hasErrors('staff.title')}" th:errors="*{staff.title}" class="formerror"></span>
						</td>
					</tr>
					<tr>
						<th><span th:text="#{fieldLabel.managerId}" class="formlabel"></span></th>
						<td>
							<fieldset>
								<select th:field="*{staff.managerId}" class="forminput">
									<option value=""></option>
									<option th:each="manager : ${staffIds}" th:value="${manager}" th:text="${manager}" class="formoption">List</option>
								</select>
							</fieldset>
						</td>
					</tr>
					<tr>
						<th>Role Set</th>
						<td>
							<div th:each="role : ${roles}" class="formcheckbox">
								<input type="checkbox" th:value="${role.roleId}" name="roleSet" th:text="${role.name}" />
							</div>
							<span th:if="${#fields.hasErrors('roleSet')}" th:errors="*{roleSet}" class="formerror"></span>
						</td>
					</tr>
					<tr>
						<td><button type="submit">Create</button></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

</body>

</html>