<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <head th:replace="fragments/layout.html :: html_head"/>
</head>
<body>
<div th:replace="fragments/layout.html :: menu"/>
<div class="body-form" style="width: 70%">
	<div class="formtitle">
		<h2>User List</h2>
	</div>
	<div class="formcontent">
		<button class="subbutton" th:onclick="|window.location.href='@{/admin/users/create}'|">Add User</button>
		<button class="subbutton" th:onclick="|window.location.href='@{/admin/users}'|">Back</button>
		 <input type="hidden" id="currentUserId" th:value="${session.usession.user.userId}" />
		 <table class="formtable3">
			 <tr style="border-bottom: solid #A1A1A1 1px;">
				 <th>User ID</th>
				 <th>Username</th>
				 <th>Staff ID</th>
				 <th>Staff Name</th>
				 <th>Email</th>
				 <th>Roles</th>
				 <th colspan="2">Action</th>
			 </tr>
			 <tr th:each="user : ${userList}">
				 <td class="forminput2" th:text="${user.userId}">User ID</td>
				 <td class="forminput2" th:text="${user.username}">Username</td>
				 <td class="forminput2" th:text="${user.staff != null ? user.staff.id : 'N/A'}">Staff ID</td>
				 <td class="forminput2" th:text="${user.staff != null ? user.staff.firstName + ' ' + user.staff.lastName : 'N/A'}">Staff Name</td>
				 <td class="forminput2" th:text="${user.staff != null ? user.staff.email : 'N/A'}">Email</td>
				 <td class="forminput2"><div th:each="role : ${user.roleSet}" th:text="${role.name}"></div></td>
				 <td class="forminput2">
					 <a th:href="'/admin/users/edit/' + ${user.userId}" style="vertical-align: text-top;">
						 <span th:text="#{caption.edit}">Edit</span>
					</a>
				</td>
				<td class="forminput2">
						<a th:if="${user.userId} != ${session.usession.user.userId}" th:href="'/admin/users/delete/' + ${user.userId}" style="vertical-align: text-top;">
							<span th:text="#{caption.delete}">Delete</span>
						</a>
				</td>
			</tr>
		 </table>
	</div>
</div>
</body>
</html>
