<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>
<body>
<div class="menu" th:replace="fragments/layout.html :: menu"/>
<div class="body-form" style="max-width: 70%">
<h3 class="formtitle">Create User page</h3>
<a th:href="@{/admin/users/list}" class="formbutton">Back</a>
<form action="#" th:action="@{'/admin/users/create'}" th:object="${user}" method="post">
  <table class="formtable">
    <tbody>
    <tr class="formrow">
      <td><span th:text="#{fieldLabel.userId}" class="formlabel"></span></td>
      <td><input type="text" th:field="*{userId}" class="forminput" /></td>
      <td th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="formerror"></td>
    </tr>
    <tr class="formrow">
      <td><span th:text="#{fieldLabel.username}" class="formlabel"></span></td>
      <td><input type="text" th:field="*{username}" class="forminput" /></td>
      <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="formerror"></td>
    </tr>
    <tr class="formrow">
      <td><span th:text="#{fieldLabel.password}" class="formlabel"></span></td>
      <td><input type="text" th:field="*{password}" class="forminput" /></td>
      <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="formerror"></td>
    </tr>
    <tr class="formrow">
      <td><span th:text="#{fieldLabel.staffid}" class="formlabel"></span></td>
      <td><input type="text" th:field="*{staff.id}" class="forminput" /></td>
      <td th:if="${#fields.hasErrors('staff.id')}" th:errors="*{staff.id}" class="formerror"></td>
    </tr>
    <tr class="formrow">
      <td><span th:text="#{fieldLabel.firstName}" class="formlabel"></span></td>
      <td><input type="text" th:field="*{staff.firstName}" class="forminput" /></td>
      <td th:if="${#fields.hasErrors('staff.firstName')}" th:errors="*{staff.firstName}" class="formerror"></td>
    </tr>
    <tr class="formrow">
      <td><span th:text="#{fieldLabel.middleName}" class="formlabel"></span></td>
      <td><input type="text" th:field="*{staff.middleName}" class="forminput" /></td>
    </tr>
    <tr class="formrow">
      <td><span th:text="#{fieldLabel.lastName}" class="formlabel"></span></td>
      <td><input type="text" th:field="*{staff.lastName}" class="forminput" /></td>
      <td th:if="${#fields.hasErrors('staff.lastName')}" th:errors="*{staff.lastName}" class="formerror"></td>
    </tr>
    <tr class="formrow">
      <td><span th:text="#{fieldLabel.birthday}" class="formlabel"></span></td>
      <td><input type="date" th:field="*{staff.birthday}" class="forminput"></td>
    </tr>
    <tr class="formrow">
      <td><span th:text="#{fieldLabel.email}" class="formlabel"></span></td>
      <td><input type="text" th:field="*{staff.email}" class="forminput" /></td>
      <td th:if="${#fields.hasErrors('staff.email')}" th:errors="*{staff.email}" class="formerror"></td>
    </tr>
    <tr class="formrow">
      <td><span th:text="#{fieldLabel.gender}" class="formlabel"></span></td>
      <td>
        <select th:field="*{staff.gender}" class="forminput">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </td>
      <td th:if="${#fields.hasErrors('staff.gender')}" th:errors="*{staff.gender}" class="formerror"></td>
    </tr>
    <tr class="formrow">
      <td><span th:text="#{fieldLabel.staffTitle}" class="formlabel"></span></td>
      <td><input type="text" th:field="*{staff.title}" class="forminput" /></td>
      <td th:if="${#fields.hasErrors('staff.title')}" th:errors="*{staff.title}" class="formerror"></td>
    </tr>
    <tr class="formrow">
      <td><span th:text="#{fieldLabel.managerId}" class="formlabel"></span></td>
      <td>
        <fieldset>
          <select th:field="*{staff.managerId}" class="forminput">
            <option value=""></option>
            <option th:each="manager : ${staffIds}" th:value="${manager}" th:text="${manager}" class="formoption">List</option>
          </select>
        </fieldset>
      </td>
    </tr>
    <tr class="formrow">
      <td>
        <div th:each="role : ${roles}" class="formcheckbox">
          <input type="checkbox" th:value="${role.roleId}" name="roleSet" th:text="${role.name}" />
        </div>
      </td>
      <td th:if="${#fields.hasErrors('roleSet')}" th:errors="*{roleSet}" class="formerror"></td>
    </tr>
    <tr class="formrow">
      <td><input type="submit" value="Create" class="formbutton" /></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</form>
</div>
</body>
</html>
